header{
    width: 100%;
    height: 90px;
    background-color: #896A67;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.logo{
    width: 180px;
    height: 175px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    padding: 8px 16px;
    color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 8px;
    
}
.favoritos:hover{
    opacity: 0.3;
}